@using KURSOTOMASYON.Models
@model EGITIM_GRUP

@{
    //controller dan gelen verileri kendi tiplerine dönüştürüyoruz.
    List<EGITIM> egitimliste = ViewData["egitim"] as List<EGITIM>;
    List<EGITMan> egitmenliste = ViewData["egitmen"] as List<EGITMan>;
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>

<div class="panel panel-default">
    <div id="title">
        EĞİTİM GRUBU EKLEME/GÜNCELLEME SAYFASI
    </div>
    <div class="panel panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>EGITIM GRUP KAYIT FORMU</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.EGITIM_GRUP_REFNO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EGITIM_GRUP_REFNO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.EGITIM_GRUP_REFNO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EGITIM_GRUP_ADI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EGITIM_GRUP_ADI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EGITIM_GRUP_ADI, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EGITIM.EGITIM_ADI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="EGITIM_REFNO" id="EGITIM_REFNO" class="form-control">
                            @foreach (var k in egitimliste)
                            {
                                if (Model.EGITIM_REFNO == k.EGITIM_REFNO)
                                {
                                    <option selected value="@k.EGITIM_REFNO">@k.EGITIM_ADI</option>
                                }
                                else
                                {
                                    <option value="@k.EGITIM_REFNO">@k.EGITIM_ADI</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EGITMan.ADI_SOYADI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="EGITMEN_REFNO" id="EGITMEN_REFNO" class="form-control">
                            @foreach (var k in egitmenliste)
                            {
                                if (Model.EGITMEN_REFNO == k.EGITMEN_REFNO)
                                {
                                    <option selected value="@k.EGITMEN_REFNO">@k.ADI_SOYADI</option>
                                }
                                else
                                {
                                    <option value="@k.EGITMEN_REFNO">@k.ADI_SOYADI</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UCRET, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UCRET, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UCRET, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BASLANGIC_TARIH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BASLANGIC_TARIH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BASLANGIC_TARIH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BITIS_TARIH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BITIS_TARIH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BITIS_TARIH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BASLANGIC_SAAT, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BASLANGIC_SAAT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BASLANGIC_SAAT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BITIS_SAAT, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BITIS_SAAT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BITIS_SAAT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KONTENJAN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.KONTENJAN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KONTENJAN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GUNLER, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GUNLER, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GUNLER, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DOLULUK, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DOLULUK, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DOLULUK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AYRILAN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AYRILAN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AYRILAN, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a class="btn btn-info" href="/EgitimGruplari/Index" role="button">Vazgeç</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


