@model IEnumerable<KURSOTOMASYON.Models.YONETICI>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YETKI_GRUBU.GRUP_ADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YONETICI_ADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAROLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DURUMU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YETKI_GRUBU.GRUP_ADI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YONETICI_ADI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAROLA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DURUMU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
        </tr>
    }

</table>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#footer").hide();
        $("#sidebarCollapse").hide();
        $("#hesapyonet").hide();
    });

</script>