
@using KURSOTOMASYON.Models
@model EGITMEN_HAREKET

@{
    List<EGITMan> egitmentc = ViewData["egitmentc"] as List<EGITMan>;
    int egitmenrefno = 0;
    if (ViewData["id"] != null)
    {
        egitmenrefno = Convert.ToInt32(ViewData["id"]);
    }

}
<style>
        .input-validation-error {
            border-color: red;
        }
    </style>

<div class="panel panel-default">
    <div class="panel panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>EGITMEN_HAREKET</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.EGITMEN_HAREKET_REFNO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EGITMEN_HAREKET_REFNO, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.EGITMEN_HAREKET_REFNO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EGITMan.ADI_SOYADI, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="EGITMEN_REFNO" id="EGITMEN_REFNO" class="form-control">
                        @foreach (var k in egitmentc)
                        {
                            if (Model.EGITMEN_REFNO == k.EGITMEN_REFNO)
                            {
                                <option selected value="@k.EGITMEN_REFNO">@k.ADI_SOYADI</option>
                            }
                            else
                            {
                                <option value="@k.EGITMEN_REFNO">@k.ADI_SOYADI</option>
                            }
                        }
                    </select>
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.EGITMan.TC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select name="EGITMEN_REFNO" id="EGITMEN_REFNO" class="form-control">
                        @foreach (var k in egitmentc)
                        {
                            if (Model.EGITMEN_REFNO == k.EGITMEN_REFNO)
                            {
                                <option selected value="@k.EGITMEN_REFNO">@k.TC</option>
                            }
                            else
                            {
                                <option value="@k.EGITMEN_REFNO">@k.TC</option>
                            }
                        }
                    </select>
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.TARIH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TARIH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TARIH, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                <label class="control-label col-md-2" for="DURUM">DURUMU</label>
                <div class="col-md-10">
                    <select name="DURUM" id="DURUM" class="form-control">
                        @if (Model.EGITMan.DURUM == true)
                        {
                            <option selected value="true">Aktif</option>
                            <option value="false">Pasif</option>
                        }
                        else
                        {
                            <option value="true">Aktif</option>
                            <option selected value="false">Pasif</option>
                        }
                    </select>
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.ALACAK, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ALACAK, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ALACAK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ODENEN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ODENEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ODENEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ACIKLAMA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ACIKLAMA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ACIKLAMA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-success" />
                    <a class="btn btn-info" href="/EgitmenHareketler/Index/@egitmenrefno" role="button">Vazgeç</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>

